<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a book</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
</head>
<body>
    <h1>Add a book</h1>
    <div>
        <form th:object="${book}" th:action="@{save}" method="post">

            <label for="title">Title</label>
            <input type="text" id="title" th:field="*{title}" />

            <label for="author">Author</label>
            <input type="text" id="author" th:field="*{author}" />
            
            <label for="category">Author</label>
            <select th:field="*{category}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select><br>

            <label for="isbn">ISBN</label>
            <input type="text" th:field="*{isbn}" />

            <label for="publicationYear">Publication Year</label>
            <input type="text" th:field="*{publicationYear}" />

            <label for="price">Price</label>
            <input type="text" th:field="*{price}" />

            <input type="submit" value="Save" class="btn btn-success"></input>
        </form>
    </div>
</body>
</html>